* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  user-select: none;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(112, 76, 182);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.main {
  position: relative;
  top: -25px;
  height: 480px;
  width: 980px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px silver;
}

.inner-main {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-main p {
  padding: 0px 0px 5px 0px;
  position: relative;
  transition: all 0.5s ease-out;
  color: #113555;
}

.inner-main > img {
  position: relative;
  left: -80px;
  top: 90px;
  width: 300px;
  transition: visibility 2s ease-out;
}

.today {
  position: relative;
  width: 350px;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.today > h1 {
  margin-bottom: 15px;
}

.title {
  position: absolute;
  top: -10px;
  color: #365a7a;
  font-size: 4rem;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title:before {
  content: '';
  background: url('./images/02d.svg') no-repeat;
  background-size: 100%;
  width: 250px;
  height: 250px;
  display: block;
}


.loading {
  background-color: #ffffff;
  background-image: url('./images/loading.gif');
  background-size: 25px 25px;
  background-position: 97% center;
  background-repeat: no-repeat;
}
.cityInput{
  width: 600px;
  display: inline-block;
  padding: 10px 0px 10px 30px;
  line-height: 120%;
  position: relative;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  transition: all 0.5s ease-out;
}

.weather-box-list {
  width: 850px;
  position: relative;
  top: 70px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.weather-box-list > li {
  list-style-type: none;
}

.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 30%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 0px 8px silver;
  padding-bottom: 10px;
}

.weather-box > img {
  width: 100px;
  height: 100px;
}

.weather-box > h1 {
  margin-top: 25px;
  font-size: 20px;
}

.temp {
  padding-bottom: 10px;
  font-size: 0.93em;
}








